body
{
  background-image: url('./img/background.jpg');
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: #1B1B21;
    overflow: hidden;
    min-height: 150px;
    
}
.header{
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  font-size: 43px;
  margin-top: 67px;
  background: #307ca9;
  margin-left: 60px;
  font-weight: bold;
}
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #307ca9;
  text-align: center;
  padding: 14px 16px;
  text-decoration: underline;
  font-size: 30px;
  margin-top: 51px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}
.main-section{
  background-color: white;
  height: auto;
}
.subtitle-section{
    min-height: 200px;

}
.subtitle-section h1{
  float: right;
  margin: 135px;
  background: #68A9C6;
  padding: 5px;
}
.about-me{
    width: 100%;
    background-color: white;
    min-height: 200px;
    height: auto;
}
.work{
  width: 100%;
  background-color: white;
  min-height: 200px;
  height: 1000px;
}
.about-me-left,.work-left{
   float: left;
   width: 30%;
}
.about-me-left h1{
    line-height: 10px;
    font-size: 40px;
}
.about-me-right,.work-right{
  float: right;
    width: 70%;
    margin-top: -108px;
    padding: 0px;
    font-size: 20px;
}
    
.vertical {
    border-left: 2px solid black;
    min-height: 150px;
    position: absolute;
    left: 30%;
    margin-left: 10px;
    margin-top: 10px;
}
.work-vertical {
    border-left: 2px solid black;
    height: 900px;
    position: absolute;
    left: 30%;
    margin-left: 10px;
    margin-top: 10px;
}
.work-left h1{
    line-height: 10px;
    font-size: 40px;
}
.surf-report{
  position: relative;
  text-align: center;
  color: white;
  margin-top: 100px;
}
.surf-report img
{
  margin: 20px;
     width: 94%;
    height: 300px;
    object-fit: cover;
}

.surf-report-bottom-left {
  position: absolute;
  bottom: 30px;
  left: 38px;
  background-color: #68A9C6;
  height: 50px;
  font-size: 29px;
  color: black;
  font-weight: 600;
  padding: 9px;
}
/* Set additional styling options for the columns*/
.column {
  float: left;
  width: 50%;
  }

  .row:after {
  content: "";
  display: table;
  clear: both;
  }
  .img-container{
    position: relative;
  }
  .img-container .text{
    position: absolute;
    bottom: 5px;
    left: 10px;
    background-color: #68A9C6;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 29px;
    color: black;
    font-weight: bold;
  }

  .contact-me{
    width: 100%;
    background-color: white;
    min-height: 200px;
    height: auto;
}
.contact-me-left{
  float: left;
  width: 30%;
}
.contact-me-left h1{
   line-height: 10px;
   font-size: 40px;
}
.contact-me-right{
 float: right;
   width: 70%;
   margin-top: 12px;
   padding: 0px;
   font-size: 20px;
}
.contact-vertical {
  border-left: 2px solid black;
  min-height: 70px;
  position: absolute;
  left: 30%;
  margin-left: 10px;
  margin-top: 10px;
}
footer {
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  font-weight: bold;
  text-align: center;
  font-size: 25px;
}